/LOIANE CURSOS/netbeans/curso-java-basico-exercicios/nbproject/private/
/LOIANE CURSOS/netbeans/curso-java-basico-exercicios/build/
/LOIANE CURSOS/netbeans/curso-java-basico-exercicios/dist/
/Aprendizado/exerciciosbasicos/nbproject/private/
/Aprendizado/exerciciosbasicos/build/
/Desafios/desafiosson/nbproject/private/
/Desafios/desafiosson/build/
/Desafios/desafiosson/dist/
